<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ros_control plugin -->
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find silver)/config/silver_controllers.yaml</parameters>
        <parameters>$(find silver)/config/gaz_ros2_control_use_sim.yaml</parameters>
      </plugin>
    </gazebo>

     <!-- Body Link -->
    <gazebo reference="body_link">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Blue</material>
    </gazebo>

    <!-- Coxa Links -->
    <gazebo reference="coxa_link_0">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="coxa_link_1">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="coxa_link_2">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="coxa_link_3">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="coxa_link_4">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="coxa_link_5">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Blue</material>
    </gazebo>

    <!-- Femur Links -->
    <gazebo reference="femur_link_0">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="femur_link_1">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="femur_link_2">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="femur_link_3">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="femur_link_4">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="femur_link_5">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>

    <!-- Tibia Links -->
    <gazebo reference="tibia_link_0">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="tibia_link_1">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="tibia_link_2">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="tibia_link_3">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="tibia_link_4">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="tibia_link_5">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Black</material>
    </gazebo>

    <!-- Foot Link -->
    <gazebo reference="foot_link">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>


</robot>